.root{
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

#wrapper {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sidebar{
  display: flex;
  flex-direction: column;
  background-color: rgb(228, 228, 228);

  border-right: 0.1rem solid gray;
}

.sidebar ul {
  padding: 0;
}

.sidebar a {
  text-decoration: none;
  padding: 1rem;
}

.sidebar li {
  padding: 1rem;
  list-style: none;
}

.sidebar-heading{
  padding: 1rem;
}